.message-card {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  transition: transform 0.2s ease-in-out;
  text-align: center; /* Center-align text */
}

.message-card button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.message-card button:hover {
  background-color: #0056b3;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.fancy-input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #007bff;
  outline: none;
  font-size: 14px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.fancy-input:focus {
  border-color: #0056b3;
  box-shadow: 0 0 10px rgba(0, 91, 187, 0.3);
}

.fancy-input::placeholder {
  color: #ccc;
  font-style: italic;
}


